.bg-container{
    background-color:#edf6f9;
    border-radius:30px;
    padding:30px;
    margin-bottom:30px;
    }
    .img{
    border-radius:30px;
    height:300px;
    width:300px;
    background-size:cover;
    
    }
    .details{
    margin:10px;
    }
    .heading{
    font-size:20px
    
    }
    
    
    
    .img:hover {
    border-radius: 10px;
    transform: scale(1.5);
    box-shadow: 0 0 2px #000a;
    transition: transform 2s;
    }