html{
    height:100%;
}

body{
    margin:0px;
    padding:0px;
    background:white;

}

*{
    font-family:'outfit',sans-serif
}
.login-box{
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    padding:40px;
    transform: translate(-50%,-50%);
    background: rgb(0, 0, 0,5);
    box-sizing: border-box;
    border-radius: 10px;

}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;

}
.login-box .user-box {
position: relative;
}
.login-box .user-box input{
width: 100px;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.login-box .user-box label{
    position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.btn_submit{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px;
}
.btn_submit:hover{
    background: #03e9f4;
    color: rgb(10, 11, 21);
    border-radius: 5px;

}